@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../img/travel4k.jpg'); /* Yerel arka plan resmi */
    background-size: cover;
    background-position: center;
}

.container {
    position: relative;
}

.toggle-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: rgba(47, 139, 230, 0.9); /* Buton rengi */
    color: #fff;
    cursor: pointer;
    margin-right: 10px; /* Butonlar arasında boşluk */
    position: relative;
    overflow: hidden;
}

    .toggle-btn:last-child {
        margin-right: 0; /* Son butonun sağ tarafında boşluk olmasın */
    }

    .toggle-btn:focus {
        outline: none;
    }

    .toggle-btn::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300%;
        height: 300%;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        transition: all 0.6s ease;
        transform: translate(-50%, -50%) scale(0);
    }

    .toggle-btn:hover::before {
        transform: translate(-50%, -50%) scale(1);
    }

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: none;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Form arka plan rengi */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .form h1 {
        text-align: center;
        margin-bottom: 20px;
        color: #2f8be6; /* Başlık rengi */
    }

    .form input {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .form button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #2f8be6; /* Buton rengi */
        color: #fff;
        cursor: pointer;
    }

        .form button:hover {
            background-color: #1c6ca4; /* Butonun üzerine gelindiğindeki rengi */
        }

.active {
    display: block;
}
