@{
    Layout = null;
}


<!DOCTYPE html>
<html>

<head>
    <title>Slide Navbar</title>
    <link rel="stylesheet" href="~/css/adminlogin.css">
    <link rel="stylesheet" type="text/css" href="slide navbar style.css">
    <link href="~/https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form asp-action="AdminRegister" method="post">
                <label for="chk" aria-hidden="true">Admin Sign Up</label>
                <input type="text" name="Firstname" placeholder="FirstName" required="">
                <input type="text" name="Lastname" placeholder="LastName" required="">
                <input type="text" name="UserName" placeholder="User name" required="">
                <input type="email" name="Email" placeholder="Email" required="">
                <input type="password" name="Password" placeholder="Password" required="">
                <input type="text" name="PhoneNumber" placeholder="PhoneNumber" required="">
                <input type="text" name="Address" placeholder="Address" required="">
                <input type="text" name="Code" placeholder="Code" required="">
                <button>Sign up</button>
            </form>
        </div>

        <div class="login">
            <form asp-action="AdminLogin" method="post">
                <label for="chk" aria-hidden="true">Login</label>
                <input type="text" name="UserName" placeholder="UserName" required="">
                <input type="password" name="Password" placeholder="Password" required="">
                <button>Login</button>
            </form>
        </div>
    </div>
</body>

</html>