@using Geziyoruz.WebUI.BasketTransaction.BasketModels
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gezi Blogu</title>
    <link rel="stylesheet" href="~/css/buytravel.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Gezi Blogu</h1>
            <nav>
                <ul>
                    <li><a href="i/Home/Index">Anasayfa</a></li>
                    <li><a href="/Home/BuyTravel">Geziler</a></li>
                    <li><a href="/Home/AboutUs">Hakkımızda</a></li>
                    <li><a href="/Contact/Contact">İletişim</a></li>
                    <li><a href="/Auth/SignOut">Çıkış</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="pricing-wrapper clearfix">

        <h1 class="pricing-table-title">Tüm Gezilerde Geçerli Tarifeler</h1>

        <div class="pricing-table">
            <h3 class="pricing-title">Basit</h3>
            <div class="price">$60<sup>/ Günlük</sup></div>

            <ul class="table-list">
                <li>10 GB <span>Gezi sırasında internet</span></li>
                <li>1 Gün <span>önceden iptal süresi</span></li>
                <li>25 <span>Profesyonel Fotoğraf Çekimi</span></li>
                <li>Yemekler <span class="unlimited">Sınırsız</span></li>
                <li>Konaklama<span class="unlimited">Sınırsız</span></li>
                <li>3 gün üzeri alımda <span>bilet bizden</span></li>
            </ul>

            <div class="table-buy">
                <p>$60<sup>/ Günlük</sup></p>
                <a href="#" class="pricing-action">İletişime Geç</a>
            </div>
        </div>

        <div class="pricing-table recommended">
            <h3 class="pricing-title">Premium</h3>
            <div class="price">$100<sup>/ Günlük</sup></div>

            <ul class="table-list">
                <li>35 GB <span>Gezi sırasında internet</span></li>
                <li>5 Gün <span>önceden iptal süresi</span></li>
                <li>50 <span>Profesyonel Fotoğraf Çekimi</span></li>
                <li>Yemekler <span class="unlimited">Sınırsız</span></li>
                <li>Konaklama<span class="unlimited">Sınırsız</span></li>
                <li>3 gün üzeri alımda <span>bilet bizden</span></li>
            </ul>

            <div class="table-buy">
                <p>$100<sup>/ Günlük</sup></p>
                <a href="#" class="pricing-action">İletişime geç</a>
            </div>
        </div>

        <div class="pricing-table">
            <h3 class="pricing-title">Premium Deluxia</h3>
            <div class="price">$200<sup>/ Günlük</sup></div>

            <ul class="table-list">
                <li>100 GB <span>Gezi sırasında internet</span></li>
                <li>8 Gün <span>önceden iptal süresi</span></li>
                <li>100 <span>Profesyonel Fotoğraf Çekimi</span></li>
                <li>Yemekler<span class="unlimited">Sınırsız</span></li>
                <li>Konaklama <span class="unlimited">Sınırsız</span></li>
                <li>3 gün üzeri alımda <span>bilet bizden</span></li>
            </ul>

            <div class="table-buy">
                <p>$200<sup>/ Günlük</sup></p>
                <a href="#" class="pricing-action">İletişim geç</a>
            </div>
        </div>
    </div>


    <footer>
        <div class="container">
            <p>Tüm hakları saklıdır. &copy; 2024 Gezi Blogu</p>
        </div>
    </footer>
</body>
</html>

