@using Geziyoruz.Entities.Concrete.Dtos.BlogPostDtos
@{
    Layout = null;
}

@model BlogPostDto

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Title</title>
    <link rel="stylesheet" href="~/css/travels.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Gezi Blogu</h1>
            <nav>
                <ul>
                    <li><a href="/Home/Index">Anasayfa</a></li>
                    <li><a href="/Basket/BuyTravel">Geziler</a></li>
                    <li><a href="/Home/AboutUs">Hakkımızda</a></li>
                    <li><a href="/Contact/Contact">İletişim</a></li>
                    <li><a href="/Auth/SignOut">Çıkış</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="gezi-detay">
        <div class="container">
            <div class="gezi-detay-content">
                <img src="~/data:image/jpeg;base64,@Model.Picture" alt="Gezi Fotoğrafı 1">
                <div class="gezi-detay-text">
                    <h2>@Model.Title</h2>
                    <p>@Model.Paragraph</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>Tüm hakları saklıdır. &copy; 2024 Gezi Blogu</p>
        </div>
    </footer>
</body>
</html>
